

/* *{
  background: #f3f3f3;
} */


/* .singleImage{
  background-image:url("https://teja9.kuikr.com/i5/20230226/64gb-black-with-one-charger--adpoter---cable----BOX-VB201705171774173-ak_LWBP555373486-1677408263_lg.jpeg");
  filter: blur(2px);
  background-repeat: no-repeat;
  transform: scale(1.2);
  -webkit-filter: blur(8px) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
                   
}

.innerImage{
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px
} */